body {
    background-image: url(imagens/FundoCentral.png);
    color: white;
    font-weight: bold;
}

#Centro {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        border: solid;
}

#Centro #imgmascara {
    width: 45%;
    height: 45%;
}

#Centro #redes_sociais img{
    width: 100px;
    height: 100px;
}
