/*---------- Corpo ----------*/ 
body {
    background-image: url(imagens/FundoCentral.png);
    background-size: 50%;
    background-repeat: repeat-x repeat-y;
    color: white;
    font-weight: bold;
}

.tipo, .especificacao {
    display: inline; 
}

/*---------- Bloco da esquerda ----------*/ 

#esquerda {
    float: left;
    border: solid blue; 
}

#esquerda h2 {
    text-align: center;
    color: red;
}

#esquerda li {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.especificacao {
    text-align: right;
}

/*---------- Bloco da Direita ----------*/ 

#Centro {
        text-align: center;
        border: solid;
        float: left;
        max-width: 50%;
}

#Centro #imgmascara img{
    width: 30%;
    height: 30%;
}

#Centro #redes_sociais img{
    width: 22%;
    height: 22%;
}
